<mat-drawer-container class="h-100">
  <mat-drawer
    class="sidenav-bar w-auto"
    mode="side"
    [opened]="sideNavbarOpened()"
    (openedChange)="changeSideNavbarOpened($event)"
  >
    <app-sidenav
      class="m-2"
      (closeSidemenu)="sideNavbarOpened.set(false)"
    ></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-top-bar
      [sideNavbarOpened]="sideNavbarOpened()"
      (changeSideNavbarOpened)="changeSideNavbarOpened($event)"
    ></app-top-bar>
    <router-outlet />
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
